footer {
  background: $corTerciaria;
  position: relative;
  padding: 100px 0 !important;
  margin-top: 100px;

  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    img {
      width: 190px;
      margin-bottom: 2rem;
    }
  }

  .texto-footer {
    font-size: 0.79rem;
    line-height: 1.5rem;
    text-align: justify;
  }

  .cerfificacoes-footer {
    img {
      width: 60px;
    }
  }

  h4 {
    font-size: 1.5rem !important;
    margin-bottom: 35px;
  }

  .links-uteis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .menu-links-uteis-container {
      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            color: $corBranca;
            transition: all .2s ease-in-out;
            line-height: 2.3rem;
            font-size: 0.79rem;

            &:hover {
              color: $corSecundaria;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $corBranca;
    font-size: 0.79rem;

    a {
      color: $corBranca;
      transition: all .2s ease-in-out;

      &:hover {
        color: $corSecundaria;
        text-decoration: none;
      }
    }

    .fa-phone-alt {
      transform: rotate(45deg);
    }

    .row-enderecos {
      svg {
        top: 3px !important;
        position: relative !important;
      }

      .box-endereco {
        span {
          line-height: 1.4rem;
        }
      }
    }
  }

  .fundo-footer {
    left: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 60%;
  }

  .footer-copyright-content {
    margin-top: 50px;

    .row {

      #redes-sociais {
        a {
          margin: 0 8px;

          svg {
            font-size: 22px;
            color: $corBranca;
            transition: all .2s ease-in-out;
          }

          &:hover {
            svg {
              opacity: .4;
            }
          }
        }
      }

      .logo-cia {
        width: 80px !important;
      }
    }
  }
}