.menu-wrapper {
  &.gradient {
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 250px;
    background: rgba(130, 130, 130, 1);
    background: -moz-linear-gradient(top, rgba(130, 130, 130, 1) 0%, rgba(133, 133, 133, 0.5) 61%, rgba(135, 135, 135, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130, 130, 130, 1)), color-stop(61%, rgba(133, 133, 133, 0.5)), color-stop(100%, rgba(135, 135, 135, 0)));
    background: -webkit-linear-gradient(top, rgba(130, 130, 130, 1) 0%, rgba(133, 133, 133, 0.5) 61%, rgba(135, 135, 135, 0) 100%);
    background: -o-linear-gradient(top, rgba(130, 130, 130, 1) 0%, rgba(133, 133, 133, 0.5) 61%, rgba(135, 135, 135, 0) 100%);
    background: -ms-linear-gradient(top, rgba(130, 130, 130, 1) 0%, rgba(133, 133, 133, 0.5) 61%, rgba(135, 135, 135, 0) 100%);
    background: linear-gradient(to bottom, rgba(130, 130, 130, 1) 0%, rgba(133, 133, 133, 0.5) 61%, rgba(135, 135, 135, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828282', endColorstr='#878787', GradientType=0);
  }
}

#menuPrimario {
  background-color: #939393;

  .row {
    height: 45px;

    a {
      text-decoration: none;
      color: $corBranca;
      transition: all .2s ease-in-out;
      font-weight: 400;

      &:hover {
        color: $corSecundaria;
      }
    }

    span {
      color: $corBranca;
      font-weight: 500;

      &.telefone {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
}

nav.navbar {
  position: absolute;
  width: 100%;
  z-index: 99;
}

#menu-secundario {
  transition: all .2s ease-in-out;

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    img {
      object-fit: contain;
      width: 190px;
    }
  }

  ul {
    li {
      margin: 0px 10px;

      .dropdown-menu {
        border: none;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }

      a.nav-link {
        font-family: $regular;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2px;
        color: $corBranca;
        transition: all .2s ease-in-out;
        font-weight: 400;
        font-size: 15px;

        &:hover {
          color: $corSecundaria;
        }
      }
    }

    li.active a,
    li.current-menu-item a {
      color: $corSecundaria;
    }

    li.show {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
  }

  &.fixed-top {
    position: fixed !important;
  }

  &.menu_sticky {
    height: 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
    background: $corPrimaria !important;

    .btn-primario {
      background: $corSecundaria;

      &:hover {
        background: transparent;
      }
    }

    .btn-secundario {
      &:hover {
        background: $corSecundaria;
      }
    }
  }

  #navbarNav {
    .nav {
      .dropdown {

        .dropdown-menu {
          position: absolute;
          top: 80%;
          left: 0;
          z-index: 99999;
          visibility: hidden;
          opacity: 0;
          filter: alpha(opacity=0);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
          -webkit-transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
          transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
          display: block;
          background: #dcdcdc;
          padding: 0;

          li {
            margin: 0 !important;
            border-bottom: 1px solid #fff;

            &:last-child {
              border: none;
            }

            .dropdown-item {
              padding: 6px 30px;
            }
          }

        }

        &:hover {
          .dropdown-menu {
            top: 150%;
            visibility: visible;
            opacity: 1;
            filter: alpha(opacity=100);
            overflow: hidden;
            padding: 5px 0;
          }
        }
      }
    }
  }

}


.mobile-menu-wrapper {
  right: 0;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: scroll;
  min-height: 100%;
  z-index: 9602;
  padding: 30px 30px;
  box-sizing: border-box;
  width: 320px;
  background: $corPrimaria;
  overflow-y: auto;
  transform: translate3d(100%, 0, 0);
  transition: right 0.5s ease;
  padding-top: 70px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  &.open {
    right: 320px;
  }

  .contatos-mobile-wrapper {
    display: flex;
    flex-direction: column;

    .telefone {
      svg {
        color: $corSecundaria;
      }

      a {
        color: $corBranca;
      }
    }

    .email {
      svg {
        color: $corSecundaria;
      }

      a {
        color: $corBranca;
      }
    }
  }

  .btn-primario {
    background: $corSecundaria;
  }

  .mobile-menu {
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;

      a {
        color: $corBranca;
      }

      &.dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
            height: auto !important;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 0;
          }
        }
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.nav-toggler {
  border: 0;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  position: absolute;
  right: 1rem;
  top: 33px;
  z-index: 9999;
  display: block;

  span {
    width: 28px;
    height: 3px;
    background-color: $corBranca;
    display: block;
    transition: .3s;

    &:before {
      width: 28px;
      height: 3px;
      background-color: $corBranca;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(-9px);
    }

    &:after {
      width: 28px;
      height: 3px;
      background-color: $corBranca;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(6px);
    }
  }

  &.toggler-open {
    position: fixed;

    span {
      &:before {
        background: $corBranca;
      }
    }

    span {
      &:after {
        background: $corBranca;
      }
    }
  }

  &#navTogglerFixed {
    position: fixed;
    opacity: 0;
    transition: all .2s ease-in;

    &.toggler-open {
      opacity: 1 !important;
      transition: all .2s ease-in !important;
    }
  }
}

.nav-toggler.toggler-open {
  span {
    background-color: transparent;

    &:before {
      transform: translateY(0px) rotate(45deg);
    }

    &:after {
      transform: translateY(-3px) rotate(-45deg);
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(17, 17, 17, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 9601;
  }
}

@media (max-width: 990px) {
  #menu-secundario {
    .navbar-brand {
      img {
        width: 140px;
        position: relative;
        top: -8px;
      }
    }

    .navbar-desktop {
      display: none;
    }
  }
}