.btn {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 25px;
  color: $corBranca;
  transition: all .2s ease-in-out;

  &.btn-primario {
    background: $corPrimaria;

    &.dark-hover {
      &:hover {
        border: 1px solid $corPrimaria !important;
        color: $corPrimaria !important;
      }
    }

    &:hover {
      background: transparent;
      border: 1px solid #fff;
      color: $corBranca;
    }


  }

  &.btn-secundario {
    border: 1px solid #fff;

    &:hover {
      background: $corPrimaria;
      color: $corBranca;
      border: 1px solid $corPrimaria;
    }
  }

}