// PADRÕES

@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variaveis';
@import 'comments.scss';
@import 'botoes';
@import 'reset';
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    color: $corPrimaria;
    font-weight: 400;
    font-family: $regular;

    strong {
      color: $corPrimaria;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $regular;
      color: $corPrimaria;
    }

    h1 {
      font-size: 4.00em;
    }

    h2 {
      font-size: 2.50em;
    }

    h3 {
      font-size: 2.00em;
    }

    h4 {
      font-size: 1.75em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: .75em;
    }

    blockquote {
      font-style: oblique;
    }

    p,
    span {
      font-family: $regular;
      font-size: 0.97em;
      line-height: 25px;
      font-weight: 400;
    }

    form {
      margin-block-end: 0;
      margin-bottom: 0;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    .duplicate {
      &:before {
        content: attr(title);
        display: block;
        font-weight: 700;
        top: 30px;
        position: relative;
        font-size: 102%;
        opacity: .1;
      }
    }

    #voltarTopo {
      background-color: $corPrimaria;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 18px;
      left: 18px;
      transition: background-color .3s, opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      cursor: pointer;
      box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -moz-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);

      &:after {
        content: "\f062";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900 !important;
        font-size: 1.3rem;
        line-height: 45px;
        color: #fff;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    #rastreamento-secao {
      & + {
        #depoimentos {
          top: -90px;
          position: relative;
        }
      }
    }

    #pagina {
      margin-top: 100px;

      p {
        color: #3d3d3d;
      }
    }
  }

}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.bs-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bs-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bs-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bs-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

// NOVOS

.p-190 {
  padding: 190px 0;
}

.p-90 {
  padding: 90px 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-210 {
  margin-top: 210px;
}

.my-130 {
  margin: 130px 0;
}

ul {
  &.pagination {
    li {
      &.page-item {
        .page-link {
          color: $corPrimaria;
          background-color: transparent;

          &:hover {
            background-color: $corPrimaria;
            color: $corSecundaria;
          }
        }

        &.active {
          .page-link {
            background-color: $corPrimaria;
            border-color: $corSecundaria;
            color: $corSecundaria;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

:focus, button:focus, input:focus, textarea:focus, a:focus, select:focus {
  outline: none !important;
}

.hr-tracejado {
  border-top: 1px dashed #3d3d3d;
  margin: 50px 0;
}

.text-md-left.texto-localidade p {
  max-width: 650px !important;
}

.btn.btn-primario.dark-hover.bg-hover:hover {
  background: $corSecundaria !important;
  color: $corBranca !important;
  border-color: transparent !important;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  section#nosso-processo-home .item-solucao {
    display: block;
  }
}}

@import 'media-queries.scss';