/*  CORES DO TEMA */

$corPrimaria: var(--corPrimaria);
$corSecundaria: var(--corSecundaria);
$corTerciaria:var(--corTerciaria);
$corBody: var(--corBody);
$corAuxiliar: var(--corAuxiliar);

/* VARIÁVEIS CORES PADRÕES */

$corBranca: #ffffff;
$corPreta:#1a1a1a;

/* VARIÁVEIS HEADERS */

$menuPrimario:$corPrimaria;
$menuSecundario: $corBranca;
$menuPrincipal:$corPrimaria;

/* Fontes */
$texto: 'Lato', sans-serif;
$regular: 'Poppins', sans-serif;
$light: 'Circe Light';
$extralight: 'Circe Extra Light';
$bold: 'Circe Bold';
$ubuntu: 'Ubuntu', sans-serif;