#newsletter {
    hr {
        border-top: 2px solid $corBranca;
    }
    form {
        .form-group {
            input {
                height: 55px;
                background: transparent;
                border: 1px solid $corBranca;
                &::placeholder {
                    color: $corBranca;
                }
            }
        }
    }
}