section {
  &#solucoes-home {
    padding-bottom: 100px;

    .titulo-destaque {
      font-size: 50px;
      font-weight: 400;
    }

    .card-solucao {
      margin-bottom: 30px;
    }

    .flip-card {
      background-color: transparent;
      width: 100%;
      min-height: 350px;

      &:focus {
        outline: 0;

        .flip-card-inner {
          transform: rotateY(180deg);
        }
      }

      &:hover {
        .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      transform-style: preserve-3d;
    }

    .flip-card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      background: #ADCDE2;
      z-index: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      border-radius: 10px;
      padding: 80px;

      img {
        width: 105px !important;
      }

      .card-title {
        font-size: 1.6rem;

      }
    }

    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      background: $corPrimaria;
      color: white;
      transform: rotateY(180deg);
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding: 25px;

      p {
        color: $corBranca;
      }
    }

    h3 {
      font-size: 20px;
      font-family: Verdana, sans-serif;
      font-weight: bold;
      color: #fff;
    }

    .btn {
      font-size: 20px;
    }

    .fundo-solucoes {
      position: absolute;
      opacity: .2;
      margin-top: 35px;
    }
  }

  &#nosso-processo-home {
    background: #E2E9EF;
    padding-bottom: 110px;

    .descricao-nosso-processo{
      p{
        color: #3d3d3d;
        line-height: 22px;
      }
    }

    .item-solucao {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-content: center;

      &:before {
        border-top: 3px solid $corPrimaria;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 37%;
        left: 50%;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
      }

      &:last-child {
        &:before {
          width: 0;
        }
      }

      img {
        z-index: 1;
        position: relative;
        max-width: 100px;
      }

      .processo-title {
        width: 100%;
      }
    }
  }

  &#quem-somos-home {
    padding-top: 50px;
    padding-bottom: 100px;

    img {
      border-radius: 0 350px 350px 0;
    }

    .quem-somos-content {
      padding: 100px;

      p {
        max-width: 400px;
      }
    }
  }

  &#diferenciais-home {
    padding-bottom: 100px;

    .diferencial {
      text-align: center;
      padding: 0 88px;

      img {
        width: 120px;
      }
    }
  }

  &#call-to-action {
    background: $corPrimaria;
    margin-top: 35px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 5px;

    .btn-cta {
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 130px;
        margin-top: -65px;
        margin-left: -65px;
        transition: 0.70s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
      }

      .bg-btn-cta {
        background: $corBranca;
        display: block;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        margin-top: -75px;
        margin-left: -75px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
      }

      &:hover {
        img {
          transition: .5s;
          -webkit-transition: .5s;
          -moz-transition: .5s;
          -ms-transition: .5s;
          -o-transition: .5s;
          -webkit-transform: rotate(-360deg);
          -moz-transform: rotate(-360deg);
          -o-transform: rotate(-360deg);
          -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }
    }
  }

  &#depoimentos {

    .wrapper-depoimentos {
      background: #E2E9EF;
      border-radius: 180px;

      .depoimentos-wrapper {
        padding: 0 3.6rem;

        .informacoes-depoimentos {
          h5 {
            font-weight: 600;
            color: #3E9DDD;
          }
        }

        .aspas-depoimentos {
          width: 80px;
          margin: 0 auto;
          padding-bottom: 20px;
        }
      }

      .owl-dots {
        margin-top: 50px;

        .owl-dot {
          span {
            width: 13px;
            height: 13px;
            margin: 5px 4px;
            background: #3E9DDD !important;
            opacity: .26;
          }

          &.active {
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &#logbem {
    .logbem-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
      padding: 100px 0 100px 0;

      p {
        max-width: 450px;
      }
    }

    .img-logbem {
      position: relative !important;
      right: -100px;
      border-radius: 350px 0 0 350px !important;
      width: 120%;
    }
  }
}


@media(max-width: 767px) {
  section {
    &#nosso-processo-home {
      .item-solucao {
        min-height: 200px;

        &:before {
          border-left: 3px solid $corPrimaria;
          border-top: none;
          top: 50%;
          bottom: -50%;
        }

        &:last-child {
          &:before {
            border-left: none;
          }
        }

        h5 {
          &.processo-title {
            background: #E2E9EF;
            position: relative;
          }
        }
      }
    }

    &#call-to-action {
      padding: 40px 0;

      .btn-cta {
        img {
          position: relative;
          left: auto;
          top: 50%;
          width: 130px;
          margin-top: -65px !important;
          margin-left: auto;
          margin-bottom: 10px;
        }

        .bg-btn-cta {
          position: relative;
          top: auto;
          margin: 10px auto;
          left: 0;
        }
      }

      h3 {
        text-align: center;
      }
    }
  }
  .quem-somos-content {
    padding: 35px !important;
    text-align: center;
  }
  .logbem-content {
    padding: 35px !important;
    text-align: center !important;
    align-items: center !important;
  }

  .img-logbem {
    right: 0 !important;
    width: 135%;
  }
  section#depoimentos .wrapper-depoimentos .depoimentos-wrapper {
    padding: 0 0.5rem !important;
  }
  section#depoimentos .wrapper-depoimentos {
    max-width: 85%;
    margin: 0 auto;
    border-radius: 80px !important;
  }
}

@media(min-width: 768px) {

}