section {
  &#fale-com-a-loglife-secao {
    margin-bottom: 100px;

    form {
      input {
        border-radius: 30px;
        border: 1px solid #003275;
        height: 50px;
        padding: 0 21px;
        width: 100%;
      }

      textarea {
        border-radius: 30px;
        border: 1px solid #003275;
        margin-bottom: 24px;
        padding: 10px 21px;
      }

      select {
        border-radius: 30px;
        border: 1px solid #003275;
        margin-bottom: 15px;
        height: 50px;
        padding: 0 21px;
        background-image: linear-gradient(45deg, transparent 50%, $corPrimaria 60%),
        linear-gradient(135deg, $corPrimaria 40%, transparent 50%) !important;
        background-position: calc(99% - 25px) 20px,
        calc(100% - 22px) 20px,
        100% 0;
        background-size: 7px 7px,
        7px 7px;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      .button {
        &.captcode {
          border-radius: 30px;
          border: 1px solid #003275;
          height: 50px;
          padding: 0 21px;
          width: 100%;

          img {
            width: auto;
            display: block;
            margin: 5px auto;
          }
        }
      }
    }

    .img-fale-com-a-loglife {
      position: absolute;
      bottom: 100px;
      z-index: -1;
      width: 280px;
      right: -120px;
    }

    .contatos {
      background: $corTerciaria;
      padding: 12px 25px;
      border-radius: 25px;

      .row {
        //display: flex;
        //flex-direction: row;
        //flex-wrap: nowrap;
        //justify-content: space-between;
        //align-items: stretch;
        //align-content: stretch;

        .telefone {
          font-size: 14px;

          svg {
            color: $corBranca;
            font-size: 20px;
            transform: rotate(-27deg);
          }
        }

        .email {
          font-size: 14px;

          svg {
            color: $corBranca;
            font-size: 16px;
            margin-bottom: -2px;
          }
        }

        a {
          text-decoration: none;
          color: $corBranca;
          transition: all .2s ease-in-out;
          font-weight: 400;

          &:hover {
            color: $corSecundaria;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section {
    &#fale-com-a-loglife-secao {
      .img-fale-com-a-loglife {
        width: 350px;
        right: -120px;
        left: 15px;
      }
    }
  }
}