#newsletter {
  background: #7cb6d2;
  padding: 35px 0;
  margin-bottom: -100px;
  margin-top: 50px;

  .img-newsletter {
    position: absolute;
    width: 600px;
    right: 150px;
    bottom: -10px;
  }
    input[type="text"],input[type="email"]{
        border-radius: 30px;
        border: none;
        height: 50px;
        padding: 0 20px;
        width: 100%;
    }

    .btn{
        padding: 10px 40px;
    }

  .col-md-4{
    z-index: 9;
  }
}

@media(max-width: 767px) {
 #newsletter{
   .btn{
     width: 100%;
   }
 }
}