section {
  &#topo-da-pagina {
    height: 650px;
    position: relative;

    img {
      object-fit: cover;
      filter: brightness(0.6);
      height: 650px;

    }

    .conteudo-topo-da-pagina {
      position: absolute;
      width: 100%;
      padding: 40px;
      top: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $corBranca;
        font-size: 3em;

        &:before {
          opacity: .2;
          top: 35px;
        }
      }

      p {
        font-size: 1.1em !important;
        line-height: 30px !important;
      }
    }
  }
}

@media(max-width: 767px) {
  section {
    &#topo-da-pagina {
      .conteudo-topo-da-pagina {
        padding: 0 10px !important;
        top: 25% !important;
        h2{
          font-size: 1.5em;
        }
      }
    }
  }
}

@media(min-width: 990px) {
  section {
    &#topo-da-pagina {
      .conteudo-topo-da-pagina {
                p {
          max-width: 40%;
        }
      }
    }
  }
}

