section {
  &#nossos-certificados {
    background: $corPrimaria;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-bottom: 100px;

    .titulo-destaque {
      color: $corBranca;
    }

    .item-certificado {
      img {
        max-height: 100px;
      }
    }
  }

  &#institucional {
    padding-bottom: 100px;
    padding-top: 100px;

    .item-institucional {
      text-align: center;
      padding: 0 88px;

      img {
        width: 120px;
      }
    }
  }

  &#nossos-numeros {
    margin-bottom: 150px;

    .numeros {
      opacity: 0;

      .conteudo-numeros {
        text-align: center;

        .item-numero {
         .plus {
            font-size: 32px;
            font-family: $ubuntu;
            font-weight: 400;
            color: $corTerciaria;
          }

          .count {
            font-size: 65px;
            font-family: $ubuntu;
            font-weight: 700;
            color: $corTerciaria;
          }
        }

        .descricao-numero{
          font-family: $ubuntu;
          font-weight: 700;
          font-size: 22px;
          max-width: 150px;
          margin: 10px auto;
          text-align: center !important;
          left: 10px;
          position: relative;
        }
      }
    }
  }
}