section {
  &.slides {
    padding: 0;
    height: 900px;
  }

  #slide-bootstrap {
    .carousel-indicators {
      li {
        border: none;
        height: 8px;
        width: 8px;
        border-radius: 100px;
      }

      bottom: 3%;
    }

    .carousel-item {
      img {
        height: 900px;
        object-fit: cover;
        filter: brightness(0.6);
      }

      .carousel-caption {
        text-align: left;
        right: auto;
        left: 15%;
        top: 40%;


        span {
          width: 100%;
          display: block;
          font-size: 0.813em;
        }

        .btn.btnPrimario {
          font-size: 1em;
          padding-left: 0;
          margin-top: 10px;
          letter-spacing: .15em;

          &:hover {
            letter-spacing: .3em;
          }
        }

        .text-loop {
          p {
            color: $corBranca;
          }
        }
      }

      .container {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        left: 50%;
        text-align: center;

        h2 {
          font-size: 2.625em;
          margin-bottom: 35px;
          line-height: 1.5em;
        }

        .btn-primario {
          font-size: 20px;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .slides {
    height: 600px !important;

    img {
      height: 600px !important;
    }

    h2 {
      font-size: 28px !important;
      padding: 20px;
    }
  }
}